<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../fonts/fonts.css">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            </div>
        <![endif]-->

        <section class="sharing container">
            <h2 class="sharing__heading title">
                Smart product sets&nbsp;sharing
            </h2>
            <div class="sharing__body">
                <img class="sharing__illustration"
                     srcset="../content/sharing@2x.jpg"
                     src="../content/sharing.jpg"
                     width="513"
                     height="342"
                     alt=""
                >
                <div class="sharing__description wysiwyg">
                    <p>
                        Forget about files and data parsing.<br>
                        Share your product selections as an interactive catalog tuned to the needs of a specific partner. Join it to a new workspace in one click and immediately start to use products.
                    </p>
                    <p>
                        Share promotions, sales pitches and key points, unique selling propositions and experts chat channel attached to the product.
                    </p>
                </div>
            </div>
        </section>


        <!-- Outline.js -->
        <script src="../vendors/outline/outline.js"></script>

    </body>
</html>
