.about {
    padding-top: 142px;
    padding-bottom: 142px;
    min-height: 1343px;
    background-image: url("../vectors/about-desktop.svg");
    background-size: 1198px 1373px;
    background-repeat: no-repeat;
    background-position: calc(50% + 763px) top;
}
    .about__wrap {
        display: flex;
        align-items: stretch;
    }
        .about__head {
            width: 32.3529%;
            flex-shrink: 0;
        }
            .about__heading {
                position: sticky;
                top: 0;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 60px;
                padding-bottom: 120px;
            }

        .about__body {
            width: 67.6471%;
            padding-top: 60px;
            padding-left: 20px;
        }
            .about__section {
                margin-top: 52px;
            }

            .about__section:first-child {
                margin-top: 0;
            }
                .about__sub-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: var(--evolventa);
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 76px;
                    letter-spacing: -1px;
                }

                .about__description {
                    margin-top: 4px;
                    max-width: 555px;
                }

                .about__description--wide {
                    max-width: none;
                }


@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {


    .about {
        padding-top: 0;
        padding-bottom: 40px;
        min-height: 1040px;
        background-size: 898px 1029px;
        background-position: calc(50% + 572px) top;
    }
        .about__wrap {

        }
            .about__head {

            }
                .about__heading {
                    padding-top: 90px;
                }

            .about__body {
                padding-top: 90px;
            }
                .about__section {
                    margin-top: 24px;
                }

                .about__section:first-child {

                }
                    .about__sub-heading {
                        font-size: 36px;
                        line-height: 48px;
                    }

                    .about__description {
                        max-width: 460px;
                    }

                    .about__description--wide {
                        max-width: none;
                    }
}



@media (max-width: 749px) {

    .about {
        margin-top: -50px;
        padding-top: 155px;
        padding-bottom: 177px;
        min-height: 1128px;
        background-image: url("../vectors/about-smartphone.svg");
        background-size: 746px 1128px;
        background-position: calc(50% + 303px) top;
        margin-bottom: -105px;
    }
        .about__wrap {
            display: block;
        }
            .about__head {
                width: auto;
            }
                .about__heading {
                    padding-top: 0;
                    padding-bottom: 0;
                    color: var(--accent);
                }

            .about__body {
                width: auto;
                margin-top: 11px;
                padding-top: 0;
                padding-left: 0;
            }
                .about__section {
                    margin-top: 40px;
                }

                .about__section:first-child {

                }
                    .about__sub-heading {
                        font-size: 24px;
                        line-height: 48px;
                        letter-spacing: -0.8px;
                    }

                    .about__description {
                        margin-top: 0;
                        max-width: none;
                    }
}
