.cta {
    padding-top: 82px;
    padding-bottom: 70px;
    background-color: var(--accent);
    color: #FFFFFF;
    text-align: center;
}
    .cta__wrap {

    }
        .cta__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            font-size: 48px;
            line-height: 64px;
        }

        .cta__submit {
            margin-top: 50px;
        }

        .cta__note {
            margin-top: 7px;
            font-weight: 500;
        }


@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {

    .cta {
        padding-top: 46px;
        padding-bottom: 40px;
    }
        .cta__wrap {

        }
            .cta__heading {

            }
                .cta__heading {
                    font-size: 40px;
                    line-height: 53px;
                }

            .cta__submit {
                margin-top: 35px;
            }

            .cta__note {
                margin-top: 3px;
            }
}


@media (max-width: 749px) {

    .cta {
        padding-top: 89px;
        padding-bottom: 60px;
    }
        .cta__wrap {

        }
            .cta__heading {

            }
                .cta__heading {
                    font-size: 32px;
                    line-height: 43px;
                }

            .cta__submit {
                margin-top: 50px;
            }
                .cta__submit.button,
                .cta__submit .button {
                    width: 100%;
                }

            .cta__note {

            }
}
