.feature {
    position: relative;
    display: inline-flex;
    vertical-align: top;
    border: 1px solid currentColor;
    border-radius: 22px;
    padding: 6px 23px;
    font-family: var(--evolventa);
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: var(--accent);
    white-space: nowrap;
}
    .feature__tag {
        margin-left: 8px;
        display: inline-block;
        vertical-align: top;
        padding: 4px 12px 3px;
        background-color: var(--accent);
        border-radius: 15px;
        font-family: var(--evolventa);
        font-weight: bold;
        font-size: 16px;
        line-height: 23px; /* В совокупности с вертикальными паддингами получаем 30px, как line-height у родителя */
        color: #FFFFFF;
        white-space: nowrap;
    }

    .feature__tag:last-child {
        margin-right: -16px;
    }

    .feature__sparkles {
        width: 26px;
        height: 26px;
        margin-left: 12px;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
        background-image: url("../images/feature-sparkles.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {
        .feature__sparkles {
            background-image: url("../images/feature-sparkles@2x.png");
        }
    }

.feature--guy {

}
    .feature--guy::after {
        content: "";
        position: absolute;
        z-index: 10;
        left: 87px;
        top: 32px;
        width: 99px;
        height: 107px;
        background-image: url("../images/feature-guy.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {
        .feature--guy::after {
            background-image: url("../images/feature-guy@2x.png");
        }
    }


.feature--girl {

}
    .feature--girl::after {
        content: "";
        position: absolute;
        z-index: 10;
        left: 100%;
        margin-left: -17px;
        top: 5px;
        width: 110px;
        height: 82px;
        background-image: url("../images/feature-girl.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {
        .feature--girl::after {
            background-image: url("../images/feature-girl@2x.png");
        }
    }



@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {

    .feature {
        padding: 3px 23px;
        font-size: 16px;
        line-height: 28px;
    }
        .feature__tag {
            font-size: 14px;
            line-height: 21px; /* В совокупности с вертикальными паддингами получаем 28px, как line-height у родителя */
        }

        .feature__tag:last-child {
            margin-right: -20px;
        }

        .feature__sparkles {

        }


    .feature--guy {

    }
        .feature--guy::after {
            top: 28px;
            width: 74px;
            height: 80px;
        }

        @media (min-resolution: 2dppx) {
            .feature--guy::after {

            }
        }


    .feature--girl {

    }
        .feature--girl::after {
            width: 80px;
            height: 60px;
        }

        @media (min-resolution: 2dppx) {
            .feature--girl::after {

            }
        }
}


@media (max-width: 749px) {

    .feature {
        padding: 2px 15px;
        font-size: 16px;
        line-height: 26px;
    }
        .feature__tag {
            font-size: 12px;
            line-height: 19px; /* В совокупности с вертикальными паддингами получаем 30px, как line-height у родителя */
            padding: 4px 10px 3px;
        }

        .feature__tag:last-child {
            margin-right: -13px;
        }

        .feature__sparkles {
            width: 22px;
            height: 22px;
            margin-left: 8px;
            margin-top: 2px;
        }

    .feature--guy {

    }
        .feature--guy::after {
            left: -38px;
            top: 46px;
            width: 74px;
            height: 80px;
        }

    .feature--girl {

    }
        .feature--girl::after {
            width: 80px;
            height: 60px;
            margin-left: -11px;
        }
}
