@font-face {
    font-display: swap;
    font-family: "Jost";
    font-weight: normal;
    font-style: normal;
    src: local("Jost Regular"),
         url("../fonts/jost-v14-latin-regular.woff2") format("woff2"),
         url("../fonts/jost-v14-latin-regular.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Jost";
    font-weight: 500;
    font-style: normal;
    src: local("Jost Medium"),
         url("../fonts/jost-v14-latin-500.woff2") format("woff2"),
         url("../fonts/jost-v14-latin-500.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "Jost";
    font-weight: bold;
    font-style: normal;
    src: local("Jost Bold"),
         url("../fonts/jost-v14-latin-700.woff2") format("woff2"),
         url("../fonts/jost-v14-latin-700.ttf") format("truetype");
}


@font-face {
    font-display: swap;
    font-family: "Evolventa";
	src: local("Evolventa Bold"),
         url("../fonts/evolventa-bold.woff2") format("woff2"),
	     url("../fonts/evolventa-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
