.logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 0;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: 200%;
    white-space: nowrap;
    overflow: hidden;
}
