.plan {
    padding-bottom: 23px;
    text-align: center;
}
    .plan__heading {
        font-family: var(--evolventa);
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: var(--accent);
    }

    .plan__price {
        position: relative;
        margin-top: 10px;
        font-family: var(--evolventa);
        font-weight: bold;
        font-size: 32px;
        line-height: 43px;
    }
        .plan__vat {
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            margin-top: 9px;
            font-family: var(--jost);
            font-weight: 500;
            font-size: 10px;
            line-height: 30px;
            color: var(--accent);
        }

    .plan__trial {
        margin-top: 50px;
        font-family: var(--jost);
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        color: var(--accent);
    }

    .plan__note {
        margin-top: 10px;
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
        font-family: var(--jost);
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
    }


@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {

    .plan {
        padding-bottom: 5px;
    }
        .plan__heading {
            font-size: 20px;
            line-height: 24px;
        }

        .plan__price {
            margin-top: 0;
            font-size: 24px;
            line-height: 32px;
        }
            .plan__vat {
                margin-top: 0;
            }

        .plan__trial {
            margin-top: 32px;
        }

        .plan__note {
            margin-top: 0;
        }
}



@media (max-width: 749px) {

    .plan {
        padding-bottom: 57px;
    }
        .plan__heading {

        }

        .plan__price {
            margin-top: 3px;
        }
            .plan__vat {
                position: static;
                margin-top: 0;
                display: block;
            }

        .plan__trial {
            margin-top: 4px;
        }

        .plan__note {
            margin-top: 4px;
            max-width: 300px;
        }
}
