.title {
    font-family: var(--evolventa);
    font-weight: bold;
    font-size: 48px;
    line-height: 76px;
}

@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {
    .title {
        font-size: 36px;
        line-height: 48px;
    }
}


@media (max-width: 749px) {
    .title {
        font-size: 32px;
        line-height: 43px;
    }
}
