.wysiwyg {

}

/* Вариант default */

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: var(--base-line-height);
    margin-bottom: var(--base-line-height);
}


/* Вариант dense */

.wysiwyg--dense p,
.wysiwyg--dense ul,
.wysiwyg--dense ol,
.wysiwyg--dense hr,
.wysiwyg--dense figure,
.wysiwyg--dense blockquote {
    margin-top: 20px;
    margin-bottom: 20px;
}



.wysiwyg--smaller {
    font-size: var(--small-font-size);
    line-height: var(--small-line-height);
}

.wysiwyg--smaller p,
.wysiwyg--smaller ul,
.wysiwyg--smaller ol,
.wysiwyg--smaller hr,
.wysiwyg--smaller figure,
.wysiwyg--dense blockquote {
    margin-top: var(--small-line-height);
    margin-bottom: var(--small-line-height);
}


/* Общие стили для всех вариантов */

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}



.wysiwyg h2 {
    font-family: var(--evolventa);
    font-weight: bold;
}

.wysiwyg h3 {
    font-family: var(--evolventa);
    font-weight: bold;
}

.wysiwyg h4 {
    font-family: var(--evolventa);
    font-weight: bold;
}
