.logo {
    width: 184px;
    background-image: url("../images/logo.svg");
}

.logo--inverted {
    background-image: url("../images/logo-inverted.svg");
}



@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {

    .logo {
        width: 131px;
    }
}


@media (max-width: 749px) {

    .logo {
        width: 131px;
    }
}
