.partners {
    padding-top: 80px;
}
    .partners__wrap {

    }
        .partners__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .partners__list {
            margin-top: 68px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 48px 120px;
        }
            .partners__item {
                display: flex;
                justify-content: center;
                flex-shrink: 0;
            }
                .partners__image {
                    vertical-align: top;
                    width: 240px;
                    height: auto;
                }


@media ( 1250px <= width < 1500px ) {

    .partners__list {
        gap: 10px 80px;
    }
        .partners__image {
            width: 220px;
        }
}

@media ( 1100px <= width < 1250px ) {

    .partners__list {
        gap: 10px 60px;
    }
        .partners__image {
            width: 210px;
        }
}

@media ( 900px <= width < 1100px ) {

    .partners__list {
        gap: 10px 80px;
    }
        .partners__image {
            width: 220px;
        }
}

@media ( 750px <= width < 900px ) {

    .partners__list {
        gap: 10px 80px;
    }
        .partners__image {
            width: 220px;
        }
}

/*@media ( 900px <= width < 1099px ) {*/

/*    .partners__list {*/
/*        gap: 10px 50px;*/
/*    }*/
/*        .partners__image {*/
/*            width: 180px;*/
/*        }*/
/*}*/



@media (max-width: 749px) {

    .partners {
        padding-top: 40px;
    }
        .partners__wrap {

        }
            .partners__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                text-align: center;
            }

            .partners__list {
                margin-top: 50px;
                /*display: flex;*/
                /*flex-direction: column;*/
                /*align-items: center;*/
                /*justify-content: space-between;*/
                /*flex-wrap: wrap;*/
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 20px;
            }
                .partners__item {
                    /*flex-shrink: 0;*/
                }
                    .partners__image {
                        /*vertical-align: top;*/
                        width: 100%;
                        max-width: 160px;
                    }

                    /*@media (max-width: 370px) {*/
                    /*    .partners__image {*/
                    /*        height: 60px;*/
                    /*    }*/
                    /*}*/

                    /*@media (max-width: 350px) {*/
                    /*    .partners__image {*/
                    /*        height: 56px;*/
                    /*    }*/
                    /*}*/
}

