.article {
    max-width: 800px;
    padding: 38px var(--container-padding) var(--container-padding);
}
    .article__heading {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 40px;
        font-family: var(--font-evolventa);
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
    }

    .article__content {
        margin-top: 28px;
    }



@media (max-width: 599px) {

    .article {
        /*max-width: 800px;*/
        /*padding: 38px 40px 40px;*/
    }
        .article__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*margin-right: 40px;*/
            /*font-family: var(--font-headings);*/
            /*font-weight: bold;*/
            font-size: 24px;
            line-height: 32px;
        }

        .article__content {
            /*margin-top: 28px;*/
        }
}
