.button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 15px 48px;
    border: none;
    background-color: var(--accent);
    border-radius: 15px;
    font-family: inherit;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: inherit;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color var(--transition-hover);
    user-select: none;
}

.button:hover {
    background-color: #0A93DA;
}

.button:active {
    transform: translateY(1px);
}


@media ( 1100px <= width < 1500px ) {
    .button {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }
}

@media (max-width: 749px) {
    .button {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 20px;
        line-height: 30px;
    }
}



.button--inverted {
    background-color: #FFFFFF;
    box-shadow: 0 6px 24px rgba(84, 5, 134, 0.3);
    color: #000000;
}

.button--inverted:hover {
    background-color: #EEEEEE;
}



.button--submit {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}


.button--small {
    padding: 12px 28px;
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 359px) {
    .button--small {
        padding-left: 20px;
        padding-right: 20px;
    }
}


@keyframes button-loading-spin {
    100% {
        transform: rotate(360deg);
    }
}

.button--loading {
    color: transparent;
    pointer-events: none;
}
    .button--loading::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-loading.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
        animation: button-loading-spin 0.8s linear infinite;
    }
