.catalog {
    padding-top: 109px;
    padding-bottom: 161px;
    background-color: var(--accent);
    color: #FFFFFF;
}

/* For some reason macOS changes colors on video files, so they don't match with background
   We should ideally fix video files: https://stackoverflow.com/questions/63686800/color-variations-in-video-html5
   but for now let's just change few backgrounds on macOS
 */
.macos .catalog {
    background-color: #038FED;
}
    .catalog__wrap {

    }
        .catalog__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .catalog__body {
            margin-top: 48px;
            display: grid;
            grid-template-columns: 555px 504px;
            gap: 81px;
            align-items: center;
        }
            .catalog__preview {

            }
                .catalog__illustration {
                    vertical-align: top;
                    margin-right: -26px;
                }

            .catalog__description {
                order: -1;
                font-weight: 500;
            }



@media (max-width: 599px) {

    .catalog {
        padding-top: 72px;
        padding-bottom: 107px;
        /*color: #FFFFFF;*/
    }
        .catalog__wrap {

        }
            .catalog__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*text-align: center;*/
            }

            .catalog__body {
                margin-top: 67px;
                display: block;
                /*grid-template-columns: 555px 466px;*/
                /*gap: 66px;*/
                /*align-items: center;*/
            }
                .catalog__preview {
                    margin-left: calc(-1 * var(--container-padding));
                    margin-right: calc(-1 * var(--container-padding));
                }
                    .catalog__illustration {
                        width: 100%;
                        height: auto;
                        margin: 0;
                    }

                .catalog__description {
                    margin-top: 70px;
                    /*order: -1;*/
                    /*font-weight: 500;*/
                }
}
