.catalog {
    padding-top: 109px;
    padding-bottom: 154px;
    background-color: var(--accent);
    color: #FFFFFF;
}

/* For some reason macOS changes colors on video files, so they don't match with background
   We should ideally fix video files: https://stackoverflow.com/questions/63686800/color-variations-in-video-html5
   but for now let's just change few backgrounds on macOS
 */
.macos .catalog {
    background-color: #038FED;
}
    .catalog__wrap {

    }
        .catalog__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .catalog__body {
            margin-top: 57px;
            display: grid;
            grid-template-columns: 555px 504px;
            gap: 81px;
            align-items: center;
        }
            .catalog__preview {

            }
                .catalog__illustration {
                    vertical-align: top;
                    margin-right: -26px;
                    width: calc(100% + 26px);
                    height: auto;
                }

            .catalog__description {
                order: -1;
                font-weight: 500;
            }


@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {

    .catalog {
        padding-top: 60px;
        padding-bottom: 71px;
    }
        .catalog__wrap {

        }
            .catalog__heading {

            }

            .catalog__body {
                margin-top: 20px;
                grid-template-columns: 454px 454px;
                gap: 52px;
            }
                .catalog__preview {

                }
                    .catalog__illustration {
                        margin-right: 0;
                        width: 100%;
                    }

                .catalog__description {

                }
}



@media (max-width: 749px) {

    .catalog {
        padding-top: 72px;
        padding-bottom: 107px;
    }
        .catalog__wrap {

        }
            .catalog__heading {

            }

            .catalog__body {
                margin-top: 67px;
                display: block;
            }
                .catalog__preview {
                    margin-left: calc(-1 * var(--container-padding));
                    margin-right: calc(-1 * var(--container-padding));
                }
                    .catalog__illustration {
                        margin: 0;
                        width: 100%;
                    }

                .catalog__description {
                    margin-top: 70px;
                }
}
