.container {
    margin-left: auto;
    margin-right: auto;
    width: calc(1140px + 2 * var(--container-padding));
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
}

@media ( 1100px <= width < 1500px ) {

    .container {
        width: calc(960px + 2 * var(--container-padding));
    }
}


@media (max-width: 749px) {

    .container {
        width: auto;
        max-width: 440px;
    }
}


.container--wide {
    width: 100%;
    max-width: 1440px;
}

.container--full-width {
    width: 100%;
    max-width: 1920px;
}
