.contact {

}
    .contact__heading {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        font-family: var(--evolventa);
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
    }

    .contact__fieldset {
        margin-top: 16px;
    }
        .contact__field {
            margin-top: 14px;
        }

        .contact__field:first-child {
            margin-top: 0;
        }

    .contact__footer {
        margin-top: 27px;
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
        .contact__submit {

        }
            .contact__submit.button,
            .contact__submit .button {
                padding-left: 44px;
                padding-right: 44px;
            }

        .contact__note {
            margin-top: 1px;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0;
        }



@media (max-width: 599px) {

    .contact {

    }
        .contact__heading {

        }

        .contact__fieldset {

        }
            .contact__field {

            }

            .contact__field:first-child {

            }

        .contact__footer {
            display: block;
        }
            .contact__submit {

            }
                .contact__submit.button,
                .contact__submit .button {
                    width: 100%;
                }

            .contact__note {
                margin-top: 15px;
                display: block;
                text-align: center;
            }
}


.contact--in-modal {
    width: 100%;
    max-width: 635px;
    padding: var(--container-padding);
}
    .contact--in-modal .contact__heading {
        font-size: 36px;
        line-height: 48px;
    }

    .contact--in-modal .contact__fieldset {
        margin-top: 28px;
    }
        .contact--in-modal .input__widget {
            box-shadow: 0 0 0 1px var(--accent);
        }

        .contact--in-modal .input__widget:focus {
            box-shadow: 0 0 0 3px var(--accent);
        }


@media (max-width: 599px) {

    .contact--in-modal {
        padding-top: 38px;
    }
}
