.hero {
    position: relative;
}
    .hero::before {
        content: "";
        position: absolute;
        left: 0;
        top: 84px;
        right: 0;
        display: block;
        height: 1500px; /* could be 1321px same as background height, but since it can be stretched in 1920px we need more spacing at the bottom */
        background-image: url("../images/hero-desktop-summary.jpg");
        background-size: 1864px 1231px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    @media (min-resolution: 2dppx) {
        .hero::before {
            background-image: url("../images/hero-desktop-summary@2x.jpg");
        }
    }

    .hero::before {
        background-image: image-set(
            url("../images/hero-desktop-summary@2x.avif") type("image/avif") 2x,
            url("../images/hero-desktop-summary.avif") type("image/avif") 1x,
            url("../images/hero-desktop-summary@2x.webp") type("image/webp") 2x,
            url("../images/hero-desktop-summary.webp") type("image/webp") 1x
        );
    }


    /* картинка у нас маx 1864px по ширине */
    @media (min-width: 1864px) {
        .hero::before {
            background-size: 100% auto;
        }
    }


    .hero__head {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        text-align: center;
        background-image: url("../vectors/hero-desktop-head.svg");
        background-size: 1920px 360px;
        background-repeat: no-repeat;
        background-position: center top;
    }
        .hero__wrap {
            position: relative;
        }
            .hero__pre-heading {
                font-family: var(--evolventa);
                font-weight: bold;
                font-size: 24px;
                line-height: 26px;
            }

            .hero__heading {
                margin-top: 25px;
                margin-bottom: 0;
                font-family: var(--evolventa);
                font-weight: bold;
                font-size: 56px;
                line-height: 62px;
            }

            .hero__description {
                max-width: 826px;
                margin-top: 11px;
                margin-left: auto;
                margin-right: auto;
                font-weight: 500;
                font-size: 20px;
                line-height: 30px;
            }

            .hero__submit {
                margin-top: 74px;
            }




@media (max-width: 749px) {

    .hero {

    }
        .hero::before {
            top: 403px;
            height: 420px; /* could be 387px same as background height, but since it can be stretched in 600px we need more spacing at the bottom */
            background-image: url("../images/hero-smartphone-summary.jpg");
            background-size: 586px 387px;
        }

        @media (min-resolution: 2dppx) {
            .hero::before {
                background-image: url("../images/hero-smartphone-summary@2x.jpg");
            }
        }

        .hero::before {
            background-image: image-set(
                    url("../images/hero-smartphone-summary@2x.avif") type("image/avif") 2x,
                    url("../images/hero-smartphone-summary.avif") type("image/avif") 1x,
                    url("../images/hero-smartphone-summary@2x.webp") type("image/webp") 2x,
                    url("../images/hero-smartphone-summary.webp") type("image/webp") 1x
            );
        }

        /* картинка у нас маx 586px */
        @media (min-width: 586px) {
            .hero::before {
                background-size: 100% auto;
            }
        }



        .hero__head {
            overflow: hidden; /* to cut button shadow inside */
            padding-top: 81px;
            padding-bottom: 80px;
            background-image: url("../vectors/hero-smartphone-head.svg");
            background-size: 618px 220px;
        }
            .hero__wrap {

            }
                .hero__pre-heading {
                    /*font-family: var(--font-headings);*/
                    /*font-weight: bold;*/
                    font-size: 16px;
                    line-height: 22px;
                }

                .hero__heading {
                    margin-top: 3px;
                    /*margin-bottom: 0;*/
                    /*font-family: var(--font-headings);*/
                    /*font-weight: bold;*/
                    font-size: 36px;
                    line-height: 43px;
                }


                @media (max-width: 414px) {
                    .hero__heading {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }

                .hero__description {
                    /*max-width: 826px;*/
                    margin-top: 5px;
                    /*margin-left: auto;*/
                    /*margin-right: auto;*/
                    /*font-weight: 500;*/
                    font-size: 16px;
                    line-height: 27px;
                }

                .hero__submit {
                    margin-top: 62px;
                    width: 100%;
                }
                    .hero__submit.shadow,
                    .hero__submit .shadow,
                    .hero__submit .button {
                        width: 100%;
                    }
}

