.now {
    padding-top: 101px;
    padding-bottom: 155px;
    background-image: url("../vectors/selling-background-desktop.svg");
    background-size: 1998px 786px;
    background-repeat: no-repeat;
    background-position: center bottom -456px;
    text-align: center;
    overflow: hidden; /* cut shadow */
}
    .now__wrap {

    }
        .now__heading {
            margin: 0 auto;
            font-family: var(--evolventa);
            font-weight: bold;
            font-size: 48px;
            line-height: 64px;
        }

        .now__action {
            margin-top: 32px;
        }

        .now__note {
            margin-top: 6px;
            font-weight: 500;
            font-size: 20px;
            line-height: 34px;
        }



@media (max-width: 599px) {

    .now {
        padding-top: 40px;
        padding-bottom: 140px;
        background-image: url("../vectors/selling-background-smartphone.svg");
        background-size: 730px 537px;
        /*background-repeat: no-repeat;*/
        background-position: center bottom -301px;
        /*text-align: center;*/
    }
        .now__wrap {

        }
            .now__heading {
                /*margin: 0 auto;*/
                /*font-family: var(--font-headings);*/
                /*font-weight: bold;*/
                font-size: 32px;
                line-height: 43px;
            }

            .now__action {
                /*margin-top: 32px;*/
            }
                .now__action.shadow,
                .now__action .shadow,
                .now__action .button {
                    width: 100%;
                }

            .now__note {
                /*margin-top: 6px;*/
                /*font-weight: 500;*/
                /*font-size: 20px;*/
                /*line-height: 34px;*/
            }
}
