/* stylelint-disable declaration-colon-space-after */
:root {
    --font-text: "Jost", sans-serif;
    --font-headings: "Evolventa", sans-serif;
    --container-padding: 40px;
    --base-font-size: 20px;
    --base-line-height: 29px;
    --small-font-size: 16px;
    --small-line-height: 22px;
    --accent: #0184EB;
    --accent-hover: #098BC5;
    --alternative: #E7E7E7;
    --gray-1: #333333;
    --transition-hover: 0.1s ease;
    --max-text-width: 717px;
    --ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
}
/* stylelint-enable declaration-colon-space-after */


@media (max-width: 599px) {
    :root {
        --container-padding: 30px;
        --base-font-size: 16px;
        --base-line-height: 23px;
        --small-font-size: 14px;
        --small-line-height: 18px;
    }
}

@media (max-width: 390px) {
    :root {
        --container-padding: 20px;
    }
}

@media (max-width: 359px) {
    :root {
        --container-padding: 15px;
    }
}


