.sharing {
    padding-top: 37px;
    padding-bottom: 163px;
}
    .sharing__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .sharing__body {
        margin-top: 12px;
        display: grid;
        grid-template-columns: 570px 560px;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
        .sharing__preview {

        }
            .sharing__illustration {
                vertical-align: top;
                margin-left: -38px;
            }

        .sharing__description {

        }

@media (max-width: 749px) {

    .sharing {
        padding-top: 65px;
        padding-bottom: 98px;
    }
        .sharing__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*text-align: center;*/
        }

        .sharing__body {
            margin-top: 22px;
            display: block;
            /*grid-template-columns: 513px 557px;*/
            /*align-items: center;*/
            /*justify-content: center;*/
            /*gap: 54px;*/
        }
            .sharing__illustration {
                max-width: 100%;
                height: auto;
                margin-left: 0;
            }

        .sharing__description {
            margin-top: 17px;
        }
}
