.sharing {
    padding-top: 37px;
    padding-bottom: 163px;
}
    .sharing__heading {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
    }

    .sharing__body {
        margin-top: 12px;
        display: grid;
        grid-template-columns: 550px 560px;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
        .sharing__preview {

        }
            .sharing__illustration {
                vertical-align: top;
                margin-left: -38px;
                width: calc(100% + 38px);
                height: auto;
            }

        .sharing__description {

        }



@media ( 1100px <= width < 1500px ) {

    .sharing {
        padding-top: 40px;
        padding-bottom: 60px;
    }
        .sharing__heading {

        }

        .sharing__body {
            margin-top: 4px;
            grid-template-columns: 456px 454px;
            gap: 50px;
        }
            .sharing__preview {

            }
                .sharing__illustration {
                    margin-left: 0;
                    width: 100%;
                }

            .sharing__description {

            }
}





@media (max-width: 749px) {

    .sharing {
        padding-top: 65px;
        padding-bottom: 98px;
    }
        .sharing__heading {

        }

        .sharing__body {
            margin-top: 22px;
            display: block;
        }
            .sharing__illustration {
                width: 100%;
                margin-left: 0;
            }

        .sharing__description {
            margin-top: 17px;
        }
}
