.start {
    padding-top: 192px;
    padding-bottom: 100px;
    background-image: url("../vectors/start-background.svg");
    background-size: 1889px 577px;
    background-repeat: no-repeat;
    background-position: center center;
}
    .start__wrap {
        position: relative;
    }
        .start__body {
            display: flex;
            align-items: flex-start;
            gap: 250px;
        }
            .start__section {
                flex-grow: 1;
                flex-basis: 0;
            }

            .start__section:first-child {
                text-align: right;
            }

            .start__section:last-child {
                text-align: left;
            }
                .start__sub-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    display: block;
                    font-family: var(--evolventa);
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 32px;
                }

                .start__description {
                    margin-top: 16px;
                    font-size: 20px;
                    line-height: 29px;
                }

        .start__footer {
            margin-top: 134px;
            text-align: center;
        }

        .start__rocket {
            position: absolute;
            left: 50%;
            margin-left: -96px;
            top: -80px;
        }



@media (max-width: 599px) {

    .start {
        overflow: hidden;
        /*padding-top: 192px;*/
        /*padding-bottom: 100px;*/
        background-image: url("../vectors/start-background-smartphone.svg");
        background-size: 780px 657px;
        /*background-repeat: no-repeat;*/
        background-position: -410px -40px;
    }
        .start__wrap {
            /*position: relative;*/
        }
            .start__body {
                display: block;
                /*align-items: flex-start;*/
                /*gap: 250px;*/
                padding-right: 98px;
            }
                .start__section {
                    margin-top: 23px;
                    /*flex-grow: 1;*/
                    /*flex-basis: 0;*/
                }

                .start__section:first-child {
                    margin-top: 0;
                    text-align: left;
                }

                .start__section:last-child {
                    text-align: left;
                }
                    .start__sub-heading {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*display: block;*/
                        /*font-family: var(--evolventa);*/
                        /*font-weight: bold;*/
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .start__description {
                        /*margin-top: 16px;*/
                        font-size: 16px;
                        line-height: 24px;
                    }

            .start__footer {
                margin-top: 46px;
                /*text-align: center;*/
            }
                .start__footer.button,
                .start__footer .button {
                    width: 100%;
                }

            .start__rocket {
                /*position: absolute;*/
                left: auto;
                margin-left: 0;
                top: -49px;
                right: -40px;
                width: 150px;
                height: auto;
            }
}
