.tariffs {
    --cell-horizontal-padding: 18px;
}

.tariffs {
    padding-bottom: 81px;
}
    .tariffs__table {
        vertical-align: top;
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
    }
        .tariffs__section {

        }
            .tariffs__row {

            }
                .tariffs__cell {
                    padding: 15px var(--cell-horizontal-padding);
                    font-family: var(--evolventa);
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }

                .tariffs__cell:first-child {
                    font-family: var(--jost);
                    text-align: left;
                }

                .tariffs__cell--heading {
                    font-weight: normal;
                    font-size: 18px;
                }

                .tariffs__cell--sub-heading,
                .tariffs__cell--sub-heading:first-child {
                    font-family: var(--evolventa);
                    font-weight: bold;
                    text-transform: uppercase;
                }

                .tariffs__cell--single-line-heading,
                .tariffs__cell--single-line-heading:first-child {
                    font-family: var(--evolventa);
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                }

                .tariffs__cell:first-child {
                    width: 29.28%;
                }
                    .tariffs__strut {
                        display: block;
                        margin-right: -240px;
                    }


    .tariffs__section--head {

    }
        .tariffs__section--head .tariffs__cell {
            vertical-align: top;
        }
            .tariffs__heading {
                margin-left: calc(-1 * var(--cell-horizontal-padding));
                margin-top: -23px;
                margin-bottom: 0;
            }

    .tariffs__section--mobile-head {
        display: none;
    }

    .tariffs__section--body {

    }
        .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell {
            background-color: #EBF2FA;
        }

        .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .tariffs__section--body .tariffs__row:nth-child(even) .tariffs__cell {
            padding-top: 25px;
            padding-bottom: 25px;
        }



@media ( 1100px <= width < 1500px ), ( 750px <= width < 900px ) {


    .tariffs {
        --cell-horizontal-padding: 18px;
    }

    .tariffs {
        margin-top: -200px; /* перекрываем min-height с тенью у секции about */
        padding-bottom: 40px;
    }
        .tariffs__table {

        }
            .tariffs__section {

            }
                .tariffs__row {

                }
                    .tariffs__cell {

                    }

                    .tariffs__cell:first-child {

                    }

                    .tariffs__cell--heading {
                        font-size: 16px;
                        line-height: 24px;
                    }

                    .tariffs__cell--sub-heading,
                    .tariffs__cell--sub-heading:first-child {

                    }

                    .tariffs__cell--single-line-heading,
                    .tariffs__cell--single-line-heading:first-child {
                        font-size: 16px;
                    }

                    .tariffs__cell:first-child {

                    }
                        .tariffs__strut {

                        }


        .tariffs__section--head {

        }
            .tariffs__section--head .tariffs__cell {

            }
                .tariffs__heading {
                    margin-top: -13px;
                }

        .tariffs__section--mobile-head {

        }

        .tariffs__section--body {

        }
            .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell {

            }

            .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:first-child {

            }

            .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:last-child {

            }

            .tariffs__section--body .tariffs__row:nth-child(even) .tariffs__cell {
                padding-top: 15px;
                padding-bottom: 15px;
            }
}



@media (max-width: 749px) {

    .tariffs {
        padding-top: 30px;
    }

    .tariffs {
        padding-bottom: 77px;
    }
        .tariffs__table {
            display: block;
        }

        .tariffs__table::after {
            content: "";
        }
            .tariffs__section {
                display: block;
            }
                .tariffs__row {
                    display: block;
                }
                    .tariffs__cell {
                        display: block;
                        width: auto;
                        padding: 0;
                    }

                    .tariffs__cell:first-child {

                    }

                    .tariffs__cell--heading {
                        font-size: 16px;
                    }

                    .tariffs__cell--sub-heading {

                    }

                    .tariffs__cell--single-line-heading {
                        font-size: 16px;
                    }

                    .tariffs__cell:first-child {
                        width: auto;
                    }
                        .tariffs__strut {
                            margin-right: 0;
                        }

            .tariffs__section--head {

            }
                .tariffs__section--head .tariffs__cell {
                    margin-top: 0;
                }

                .tariffs__section--head .tariffs__cell:first-child {
                    margin-top: 0;
                }
                    .tariffs__heading {
                        margin-left: 0;
                        margin-top: 0;
                        margin-bottom: 27px;
                        text-align: center;
                    }

            .tariffs__section--mobile-head {
                position: sticky;
                top: 0;
                background-color: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(10px);
            }
                .tariffs__section--mobile-head .tariffs__row {
                    display: flex;
                    align-items: flex-start;
                }
                    .tariffs__section--mobile-head .tariffs__cell {
                        /*vertical-align: top;*/
                        margin-top: 0;
                        width: 33.3333%;
                        padding-top: 18px;
                        padding-bottom: 18px;
                    }

                    .tariffs__section--mobile-head .tariffs__cell:first-child {
                        display: none;
                    }
                        .tariffs__section--mobile-head {
                            margin-left: 0;
                            margin-top: 0;
                            margin-bottom: 15px;
                            text-align: center;
                        }
                            .tariffs__section--mobile-head .tariffs__row {

                            }
                                .tariffs__section--mobile-head .tariffs__cell {
                                    font-family: var(--evolventa);
                                    font-weight: bold;
                                    font-size: 20px;
                                    line-height: 30px;
                                    color: var(--accent);
                                }

            .tariffs__section--body {

            }
                .tariffs__section--body .tariffs__row {
                    display: flex;
                    align-items: stretch;
                    flex-wrap: wrap;
                }
                    .tariffs__section--body .tariffs__cell {
                        width: 33.3333%;
                        min-height: 1px;
                        border-radius: 0 !important;
                    }

                    .tariffs__section--body .tariffs__cell:first-child {
                        width: 100%;
                        text-align: center;
                    }

                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell {
                        /*background-color: #EBF2FA;*/
                    }



                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:first-child {
                        border-top-left-radius: 10px !important;
                        border-top-right-radius: 10px !important;
                    }

                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:nth-child(2) {
                        border-bottom-left-radius: 10px !important;
                    }

                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:last-child {
                        border-bottom-right-radius: 10px !important;
                    }



                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:first-child {
                        border-top: 16px solid transparent !important;
                        border-bottom: 8px solid transparent !important;
                    }

                    .tariffs__section--body .tariffs__row:nth-child(odd) .tariffs__cell:not(:first-child) {
                        border-top: 6px solid transparent !important;
                        border-bottom: 16px solid transparent !important;
                    }



                    .tariffs__section--body .tariffs__row:nth-child(even) .tariffs__cell:first-child {
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        border-top: 20px solid transparent !important;
                    }

                    .tariffs__section--body .tariffs__row:nth-child(even) .tariffs__cell:not(:first-child) {
                        padding-top: 0 !important;
                        padding-bottom: 0 !important;
                        border-top: 16px solid transparent !important;
                        border-bottom: 20px solid transparent !important;
                    }
}
