.title {
    font-family: var(--evolventa);
    font-weight: bold;
    font-size: 48px;
    line-height: 76px;
}

@media (max-width: 749px) {
    .title {
        font-size: 32px;
        line-height: 43px;
    }
}
