.benefits {
    padding-top: 166px;
    padding-bottom: 140px;
}
    .benefits__navigation {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }
        .benefits__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .benefits__tabs {
            display: flex;
            align-items: flex-start;
            gap: 24px;
        }
            .benefits__tag {
                border: none;
                padding: 16px 41px;
                background-color: #E7E7E7;
                border-radius: 38px;
                font-family: var(--font-headings);
                font-weight: bold;
                font-size: 32px;
                line-height: 44px;
                cursor: pointer;
            }

            .benefits__tag--current {
                background-color: var(--background-aspect);
                color: #FFFFFF;
            }

    .benefits__body {
        margin-top: 24px;
    }
        .benefits__item {

        }
            .benefits__screen {
                border-radius: 20px;
                display: flex;
                align-items: center;
                gap: 50px;
                padding-top: 77px;
                padding-bottom: 72px;
                padding-left: 66px;
                overflow: hidden;
            }

            .benefits__screen--aspect {
                background-color: var(--background-aspect);
                color: #FFFFFF;
            }

            .benefits__screen--alternate {
                background-image: url("../images/benefits-background-alternate.svg");
                background-size: 1360px 1288px;
                background-repeat: no-repeat;
                background-position: center top;
            }
                .benefits__summary {
                    width: 578px;
                    flex-shrink: 0;
                    font-weight: 500;
                }
                    .benefits__features {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                .benefits__screenshot {
                    vertical-align: top;
                }




    .benefits__item--for-distributor-manufacturer {

    }

        @media (min-width: 1400px) {
            .benefits__item--for-distributor-manufacturer .benefits__screenshot {
                margin-left: 86px;
            }
        }

    .benefits__item--for-dealer-and-seller {

    }
