.catalog {
    padding-top: 118px;
    padding-bottom: 141px;
    background-color: #098BC5;
    color: #FFFFFF;
}
    .catalog__wrap {

    }
        .catalog__heading {
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
        }

        .catalog__body {
            margin-top: 30px;
            display: grid;
            grid-template-columns: 555px 466px;
            gap: 66px;
            align-items: center;
        }
            .catalog__illustration {
                vertical-align: top;
            }

            .catalog__description {
                order: -1;
                font-weight: 500;
            }



@media (max-width: 599px) {

    .catalog {
        padding-top: 67px;
        padding-bottom: 67px;
        /*color: #FFFFFF;*/
    }
        .catalog__wrap {

        }
            .catalog__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                /*text-align: center;*/
            }

            .catalog__body {
                margin-top: 42px;
                display: block;
                /*grid-template-columns: 555px 466px;*/
                /*gap: 66px;*/
                /*align-items: center;*/
            }
                .catalog__illustration {
                    /*vertical-align: top;*/
                    max-width: 100%;
                    height: auto;
                }

                .catalog__description {
                    margin-top: 41px;
                    /*order: -1;*/
                    /*font-weight: 500;*/
                }
}
