.container {
    margin-left: auto;
    margin-right: auto;
    min-width: 1160px;
    max-width: 1440px;
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
}

@media (max-width: 599px) {

    .container {
        min-width: 0;
        max-width: 400px;
    }
}

