/* stylelint-disable declaration-colon-space-after */
:root {
    --font-text: "Jost", sans-serif;
    --font-headings: "Evolventa", sans-serif;
    --container-padding: 40px;
    --base-font-size: 20px;
    --base-line-height: 29px;
    --background-aspect: #0B80BD;
    --action: #0B80BD;
    --action-hover: #098BC5;
    /*098 BC5*/
    --transition-hover: 0.1s ease;
}
/* stylelint-enable declaration-colon-space-after */


@media (max-width: 599px) {
    :root {
        --container-padding: 30px;
        --base-font-size: 16px;
        --base-line-height: 23px;
    }
}

@media (max-width: 390px) {
    :root {
        --container-padding: 20px;
    }
}

@media (max-width: 359px) {
    :root {
        --container-padding: 15px;
    }
}


