.shadow {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
    .shadow::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -176px;
        margin-top: -66px;
        display: block;
        width: 352px;
        height: 182px;
        background-image: url("../vectors/shadow-desktop.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .shadow .button {
        position: relative;
    }



@media (max-width: 599px) {

    .shadow {
        /*position: relative;*/
        /*display: inline-block;*/
        /*vertical-align: top;*/
    }
        .shadow::before {
            /*content: "";*/
            /*position: absolute;*/
            /*left: 50%;*/
            /*top: 50%;*/
            margin-left: -249px;
            /*margin-top: -66px;*/
            /*display: block;*/
            width: 498px;
            height: 182px;
            background-image: url("../vectors/shadow-smartphone.svg");
            /*background-size: contain;*/
            /*background-repeat: no-repeat;*/
            /*background-position: center center;*/
        }

        .shadow .button {
            /*position: relative;*/
        }
}
