.window {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background: linear-gradient(47.41deg, rgba(250, 208, 61, 0.53) 0%, rgba(255, 227, 107, 0) 73.95%), #FFFFFF;
    border-radius: 16px;
}
    .window__back {
        position: absolute;
        left: 32px;
        top: 32px;
    }

    .window__close {
        position: absolute;
        right: 32px !important; /* when used with .mfp-close */
        top: 32px !important;   /* when used with .mfp-close */
        opacity: 1 !important;  /* when used with .mfp-close */
    }

    .window__body {

    }


@media (max-width: 639px) {

    .window {
        width: 100%;
    }
        .window__back {
            left: 24px;
        }

        .window__close {
            right: 24px !important;
        }
}
