@import url("_fonts.css");
@import url("../vendors/normalize/normalize.css");
@import url("../vendors/magnific-popup/dist/magnific-popup.css");
@import url("_html.css");
@import url("_body.css");
@import url("_button.css");
@import url("_root.css");
@import url("_universal.css");
@import url("_visuallyhidden.css");
@import url("_title.css");
@import url("_wysiwyg.css");
@import url("_container.css");
@import url("_sharing.css");
@import url("_start.css");
@import url("_catalog.css");
@import url("_logo.css");
@import url("_header.css");
@import url("_footer.css");
@import url("_hero.css");
@import url("_shadow.css");
@import url("_list.css");
@import url("_truth.css");
@import url("_feature.css");
@import url("_badge.css");
@import url("_desktop-only.css");
@import url("_smartphone-only.css");
@import url("_hide-scrollbar.css");
@import url("_sales.css");
@import url("_cta.css");
@import url("_benefits.css");
@import url("_numbers.css");
@import url("_accent.css");
@import url("_nobr.css");
@import url("_basics.css");
@import url("_about.css");
@import url("_tariffs.css");
@import url("_check.css");
@import url("_plan.css");
@import url("_now.css");
@import url("_link.css");
@import url("_button-alike-link.css");
@import url("_contact.css");
@import url("_input.css");
@import url("_mfp.css");
@import url("_window.css");
@import url("_article.css");
@import url("_animation.css");
