@font-face {
	font-family: "Jost";
	src: url("jost-regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("jost-medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("jost-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Evolventa";
	src: url("evolventa-bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
